<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test suite" verbose="1" thread-count="4" parallel="classes">

    <test name="DemoTest">
        <packages>
            <package name="db.and.file.system.data.checker.tests.suites.*"/>
        </packages>
    </test>

</suite>
